.workarea-content-paddings{
height:100%;

box-sizing: border-box;
}
.conteiner{
	margin: auto;
align-items: center;
display: flex;
flex-direction: column;
justify-content: space-between;
width: 1400px;
position: relative;
height: 100%;
}

/*Общие*/
a{
    text-decoration: none;
    color: black;
}
.hide{
    display: none !important;
}
.row{
    width: 90%;
    height:45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
.column{
    border-bottom: 1px solid #D4D4D5;
    border-right: 1px solid #D4D4D5;
    text-align: center;
}
.finished{
    color:#AEAEAE;
    text-decoration: line-through;
}

#filter{
position: absolute;
display:inline-flex;
top: -30px;
right: 5%;
border-radius: 30px;
background-color: rgba(0,186,242,.6);
color: white;
padding-left: 10px;
padding-right: 10px;
cursor:pointer;
}
.filter-close{
background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.065%203.682L2.377.994%201.01%202.362%203.696%205.05.99%207.757l1.368%201.37%202.708-2.71%202.7%202.703%201.37-1.368-2.702-2.7%202.682-2.684L7.748%201%205.065%203.682z%22/%3E%3C/svg%3E');
width: 10px;
height: 10px;
margin-top: 5px;
margin-left:10px;
}
/*Проекты*/
.upper{
 	width: 90%;
    height:45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
	border-bottom: 1px solid #D4D4D5;
	cursor:pointer;
	position:relative;
}
.allhours{
	position:absolute;
	left:20px;
	line-height: 45px;
	font-size: 16px;
	display: flex;
}
.upper-title{
font-size: 20px;
line-height: 45px;

width: 200px;
}
.upper-count{
width: 20px;
margin-left:15px;
line-height: 45px;
font-size: 16px;
}
.show-projects{
margin-top: 15px;
margin-left: 20px;
}
.projects{
	margin-top:30px;
    color: black;
    width:100%;
    display:flex;
    flex-direction: column;
    min-height:350px;
	position: relative;
	padding-bottom: 100px;
}
.title{
    font-size: 16px;
    margin-top: 5px;
}
.project-name{
    max-width: 607px;
    width: 47%;
    text-align: left;

}
.project-emp{
    width:22%;
}
.project-hours{
    width:8%;
}
.project-start{
    width:8%;
}
.project-rate{
    width:11%;
}
.project-null{
    border-bottom: 1px solid #D4D4D5;
    width:6%;
}
.project-row{
    width: 90%;
    height:55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
.name-con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:relative;
    margin-top: 15px;
    margin-left: 15px;
}
.name{
    text-overflow: ellipsis;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    max-width: 80%;
}
.what{
    font-size: 18px;
    margin-right: 45px;
}
.show-tasks{
    width: 18px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    right: 10px;
    
}
.project-emp-con{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.project-emp-img{
    width: 24px;
    height: 24px;
    background-color: gray;
    border-radius: 30px;
    margin-left: 15px;
}
.project-emp-info{
    margin-left: 15px;
    text-align: left;
}
.project-emp-info-name{
    font-size: 14px;
}
.project-emp-info-work{
    font-size: 10px;
    line-height: 10px;
    color: #AEAEAE;
}
.project-hours-con{
    margin-top: 15px;
    font-size: 18px;
}
.project-rate-con{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    text-align: center;
}
.project-rate-plus{
    margin-left: 10px;
    color: #2A824D;
}
.project-rate-minus{
    margin-right: 10px;
    color: #D74747;
}
/*Задачи*/
.tasks{
    width:100%;
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
.tasks-title{
    text-align: center;
	margin-top: 5px;
    font-size: 12px;
    color: rgb(173, 173, 173);
}
.task-row{
    width: 90%;
    height:25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
.task-null{
    width:8.3%;
	max-width: 116px;
}
.task-name{
    max-width: 476px;
   	width: 38.7%;
    text-align: left;
    text-align: left;
}
.task-name-con{
    margin-left: 15px;
    margin-top: 5px;
    font-size: 12px;
    line-clamp: 1;
}
.task-emp-con{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.task-emp-img{
    width: 15px;
    height:15px;
    background-color: gray;
    border-radius: 30px;
    margin-left: 10px;
}
.task-emp-info{
    margin-left: 15px;
    text-align: left;
}
.task-emp-info-name{
    font-size: 12px;
	line-height: 12px;
}
.task-hours-con{
    line-height: 25px;
    font-size: 14px;
}
.task-start{
    width:8%;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
}
.task-rate-con{
    font-size: 20px;
    font-weight: 1000;
    text-align: center;
	line-height: 20px;
}
.task-rate-plus{
    color: #2A824D;
}
.task-rate-minus{
    color: #D74747;
}